tr.danger {
  font-weight: bold;
}

.remove:hover {
  font-weight: bold;
}
.remove {
  cursor: pointer;
}


/*table {*/
/*  font-family: arial, sans-serif;*/
/*  border-collapse: collapse;*/
/*  width: 100%;*/
/*}*/

/*td, th {*/
/*  border: 1px solid #dddddd;*/
/*  text-align: left;*/
/*  padding: 8px;*/
/*}*/

/*tr:nth-child(even) {*/
/*  background-color: #dddddd;*/
/*}*/

/*.old {*/
/*        color: red;*/
/*    }*/
/*    .middleaged {*/
/*        color: blue;*/
/*    }*/
/*    .young {*/
/*        color: green;*/
/*    }*/

